
<div class="container">
  <div class="well">

    <h1>The Planet Zohr</h1>
    <h3>Little is known of the Distant Moon of Zohr.  Located on the outter reaches of the galaxy, knowledge of what actually goes on here or its inhabitants are limited to stories bordering on myths.  Parking is widely available.</h3>

  </div>
  <h4>You land your spaceship close to some foothills.  Unfortunately, you forgot to pack a lunch and are in need for some food.  You have two choices, go into the foodhills, or explore the valley floor. </h4>
  <br>

  <h4>What would you like to do next?</h4>
  <br>

  <h4><a routerLink="fantasy-fight">Explore the foothills</a></h4>
  <br>

  <h4><a routerLink="fantasy-run">Find a burger stand hidden behind a meteor on the valley floor.</a></h4>
</div>
