{{scenerioToDisplay.name}} <br>
{{scenerioToDisplay.description}}<br>

<div
  *ngIf='scenerioToDisplay.eventId === 4 ||
         scenerioToDisplay.eventId === 5 ||
         scenerioToDisplay.eventId === 6 ||
         scenerioToDisplay.eventId === 7
   else elseBlock'>
  <button><a routerLink="/">End Story and Go Home</a></button>
</div>

<ng-template #elseBlock>
  <button class='btn' (click)="goToNextScenerio(scenerioToDisplay.action1Id)">{{scenerioToDisplay.action1}}</button> <br>
  <button class='btn' (click)="goToNextScenerio(scenerioToDisplay.action2Id)">{{scenerioToDisplay.action2}}</button> <br>
</ng-template>
